NULL ==========================================================================

SelectFaction = $WH3
SelectRegion = $Irkutsk

StartEvent = evt_nam_WH3_IrkutskFactory_RplProduction|999|1|NULL|NULL|$Irkutsk|NULL

Conditions

  MinDate = 1918/10/02
  Probability = 30
  EvalRgnOwned = $Irkutsk
  EvalEvent = evt_nam_WH3_IrkutskFactoryCompleted;=;1
  EvalEvent = evt_nam_WH3_IrkutskFactory_RplProduction2;=;0

Actions

  
  ChangeUnitPool = $uni_WH5_Mil;2
  ChangeUnitPool = $uni_WH5_ConCav;1

  ChangeUnitPool = $uni_WH3_MP;2
  ChangeUnitPool = $uni_WH3_MG2;2
  ChangeUnitPool = $uni_WH3_Eng;2
  ChangeUnitPool = $uni_WH3_Sig;2
  ChangeUnitPool = $uni_WH3_Med;2
  ChangeUnitPool = $uni_WH3_Art0;1
  ChangeUnitPool = $uni_WH3_Art1;1
  ChangeUnitPool = $uni_WH3_Art2;1
  ChangeUnitPool = $uni_WH3_Art3;1
  ChangeUnitPool = $uni_WH3_Art4;1
  ChangeUnitPool = $uni_WH3_Art5;1
  ChangeUnitPool = $uni_WH3_Amt1;1
  ChangeUnitPool = $uni_WH3_Amt2;1
  ChangeUnitPool = $uni_WH3_Amc;1
  ChangeUnitPool = $uni_WH3_Sup1;2
  ChangeUnitPool = $uni_WH3_GB1;1
  ChangeUnitPool = $uni_WH3_RT1;1
  ChangeUnitPool = $uni_WH3_RT2;1
  ChangeUnitPool = $uni_WH3_Sup2;2
  ChangeUnitPool = $uni_WH3_Gar;3

  ChangeUnitPool = $uni_WH3_Mil1;2
  ChangeUnitPool = $uni_WH3_ConCav1;1

EndEvent

SelectFaction = $WH3
SelectRegion = $Irkutsk

StartEvent = evt_nam_WH3_IrkutskFactory_RplProduction2|999|1|NULL|NULL|$Irkutsk|NULL

Conditions

  EvalEvent = evt_nam_WH3_New1919;=;1
  EvalEvent = evt_nam_WH3_New1921;=;0
  Probability = 30
  EvalRgnOwned = $Irkutsk
  EvalEvent = evt_nam_WH3_IrkutskFactoryCompleted;=;1

Actions

  ChangeUnitPool = $uni_WH5_Mil;2
  ChangeUnitPool = $uni_WH5_ConCav;1

  ChangeUnitPool = $uni_WH3_ConCav2;2
  ChangeUnitPool = $uni_WH3_Mil2;1

  ChangeUnitPool = $uni_WH3_MP;2
  ChangeUnitPool = $uni_WH3_MG2;2
  ChangeUnitPool = $uni_WH3_Eng;2
  ChangeUnitPool = $uni_WH3_Sig;2
  ChangeUnitPool = $uni_WH3_Med;2
  ChangeUnitPool = $uni_WH3_Art0;1
  ChangeUnitPool = $uni_WH3_Art1;1
  ChangeUnitPool = $uni_WH3_Art2;1
  ChangeUnitPool = $uni_WH3_Art3;1
  ChangeUnitPool = $uni_WH3_Art4;1
  ChangeUnitPool = $uni_WH3_Art5;1
  ChangeUnitPool = $uni_WH3_Amt1;1
  ChangeUnitPool = $uni_WH3_Amt2;1
  ChangeUnitPool = $uni_WH3_Amc;1
  ChangeUnitPool = $uni_WH3_Sup1;2
  ChangeUnitPool = $uni_WH3_GB1;1
  ChangeUnitPool = $uni_WH3_RT1;1
  ChangeUnitPool = $uni_WH3_RT2;1
  ChangeUnitPool = $uni_WH3_Sup2;2
  ChangeUnitPool = $uni_WH3_Gar;3

  ChangeUnitPool = $uni_WH3_Mil1;-10
  ChangeUnitPool = $uni_WH3_ConCav1;-10

EndEvent

SelectFaction = $WH3
SelectRegion = $Irkutsk

StartEvent = evt_nam_WH3_IrkutskFactory_RplProduction3|999|1|NULL|NULL|$Irkutsk|NULL

Conditions

  EvalEvent = evt_nam_WH3_New1921;=;1
  Probability = 30
  EvalRgnOwned = $Irkutsk
  EvalEvent = evt_nam_WH3_IrkutskFactoryCompleted;=;1

Actions

  ChangeUnitPool = $uni_WH5_Mil;2
  ChangeUnitPool = $uni_WH5_ConCav;1

  ChangeUnitPool = $uni_WH3_ConCav2;-10
  ChangeUnitPool = $uni_WH3_Mil2;-10

  ChangeUnitPool = $uni_WH3_Mil3;2
  ChangeUnitPool = $uni_WH3_ConCav3;1

  ChangeUnitPool = $uni_WH3_MP;2
  ChangeUnitPool = $uni_WH3_MG2;2
  ChangeUnitPool = $uni_WH3_Eng;2
  ChangeUnitPool = $uni_WH3_Sig;2
  ChangeUnitPool = $uni_WH3_Med;2
  ChangeUnitPool = $uni_WH3_Art0;1
  ChangeUnitPool = $uni_WH3_Art1;1
  ChangeUnitPool = $uni_WH3_Art2;1
  ChangeUnitPool = $uni_WH3_Art3;1
  ChangeUnitPool = $uni_WH3_Art4;1
  ChangeUnitPool = $uni_WH3_Art5;1
  ChangeUnitPool = $uni_WH3_Amt1;1
  ChangeUnitPool = $uni_WH3_Amt2;1
  ChangeUnitPool = $uni_WH3_Amc;1
  ChangeUnitPool = $uni_WH3_Sup1;2
  ChangeUnitPool = $uni_WH3_GB1;1
  ChangeUnitPool = $uni_WH3_RT1;1
  ChangeUnitPool = $uni_WH3_RT2;1
  ChangeUnitPool = $uni_WH3_Sup2;2
  ChangeUnitPool = $uni_WH3_Gar;3

  ChangeUnitPool = $uni_WH3_Mil1;-10
  ChangeUnitPool = $uni_WH3_ConCav1;-10

EndEvent

NULL ==========================================================================